<div id="<%= dom_id character %>">
  <p>
    <strong>Name:</strong>
    <%= character.name %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= character.location %>
  </p>

  <p>
    <strong>Quote:</strong>
    <%= character.quote %>
  </p>

  <p>
    <strong>Book:</strong>
    <%= character.book %>
  </p>

  <p>
    <strong>House:</strong>
    <%= character.house %>
  </p>

  <p>
    <strong>Spell:</strong>
    <%= character.spell %>
  </p>

</div>
