<!DOCTYPE html>
<html>
  <head>
    <title>Hogwarts Characters</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <header class="">
      <!-- Inicio Barra Navegación -->
      <nav class="navbar sticky-top navbar-expand-lg" style="background-color: gold;">
        <div class="container-fluid">          
          <a class="navbar-brand py-2" href="#"><h1 class="fw-bolder"><span class="page-brand px-2">Hoghwarts Secrets</span></h1></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ms-auto">
              <li class="nav-item">
                <%= link_to "Home", root_path, :class=>"nav-link active", "aria-current"=>"page" %>
              </li>
              <li class="nav-item">  
                <%= link_to "Characters", characters_path, :class=>"nav-link" %>
              </li>
              <li class="nav-item">  
                <%= link_to "New character", new_character_path, :class=>"nav-link" %>
              </li>               
            </div>
          </div>          
        </div>
      </nav>
    </header>
    <div id="intro" class="bg-image min-vw-100 shadow-2-strong">
      <div class="mask" style="background-color: rgba(0, 0, 0, 0.5);">
        <div class="container d-flex align-items-center justify-content-center text-center">
          <div class="text-white py-3 my-2">
            <%= yield %>
          </div>
        </div>
      </div>
    </div>
    <%= javascript_include_tag "breakpoints.min" %>
    <%= javascript_include_tag "browser.min" %>
    <%= javascript_include_tag "jquery.min" %>    
  </body>
  
</html>
