<!DOCTYPE html>
<html>
  <head>
    <title>Hogwarts Characters</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <header class="mx-auto container-fluid py-3"><h1 class="strong">Hogwarts Secrets</h1></header>
    <%= yield %>
  </body>
  
</html>
